*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}
li,ul li{
    list-style: none;
}

body{
    background: url("../images/song-pic/song-bg.jpg");

}

ul li{
    float: left;
    position:relative;
}

.nav{
    position: fixed;
    top:0;
    left: 0;
    z-index: 10;
    color:#fff;
    width: 100%;
    height:60px;
    margin:0 auto;
    box-shadow:0 3px 5px 2px rgba(0,0,0,0.4),0 2px 10px rgba(0,0,0,0.1) !important;
    box-sizing: border-box;
    background: url("../images/nav-bg.jpg");

}
.nav img{
    width:50px;
    margin-top:10px;
    margin-left: 50px;
    margin-right:30px;

}
.nav .logo-s{
    display: inline-block;
    line-height:50px;
    font-size: 25px;
    margin-top:5px;
    vertical-align: top;
}

.nav:after{
    content:"";
    display:block;
    clear:both;
}

ul {
    float:right;
    list-style:none;

}
.nav a{
    color:inherit;
    font-size:18px;
    width: 80px;
    height: 60px;
    line-height:60px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.singer-more a{
    border-top: 1px solid #fff;
}
.song-more a{
    border-top: 1px solid #fff;
}

.nav a:hover{
    background-color: rgba(0,0,0,0.5);

}

.singer-more{
    position:absolute;
    top: 60px;
    left: 0;
    z-index:10;
    background-color: #684026;
    display: none;

}

.song-more{
    position:absolute;
    top: 60px;
    left: 0;
    z-index:10;
    background-color: #684026;
    display: none;

}

.nav li:hover .singer-more{
    display: block;
}

.nav li:hover .song-more{
    display: block;
}

.main{

    width: 90%;
    margin:80px auto;
}


.box{
    width: 45%;
    background-color: #fff;
    box-shadow:0px 3px 5px 0 rgba(0,0,0,0.4),0 6px 5px 0 rgba(0,0,0,0.1) !important;
}

.box>img{
    width: 100%;
}


/*.show-songs ul{*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*!*background-color: red;*!*/
    /*position: absolute;*/
    /*bottom: 100px;*/
    /*left: 50%;*/
    /*margin-left:-100px;*/
    /*transform-style: preserve-3d;*/
    /*!*transform: rotateX(-10deg);*!*/
    /*animation: sport 6s linear 0s infinite normal;*/
/*}*/
/*.show-songs ul li{*/
    /*list-style: none;*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*font-size: 60px;*/
    /*text-align: center;*/
    /*line-height: 200px;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*background-color: black;*/
/*}*/
/*.show-songs ul li:nth-child(1){*/
    /*transform: rotateY(60deg) translateZ(200px);*/
/*}*/
/*.show-songs ul li:nth-child(2){*/
    /*transform: rotateY(120deg) translateZ(200px);*/
/*}*/
/*.show-songs ul li:nth-child(3){*/
    /*transform: rotateY(180deg) translateZ(200px);*/
/*}*/
/*.show-songs ul li:nth-child(4){*/
    /*transform: rotateY(240deg) translateZ(200px);*/
/*}*/
/*.show-songs ul li:nth-child(5){*/
    /*transform: rotateY(300deg) translateZ(200px);*/
/*}*/
/*.show-songs ul li:nth-child(6){*/
    /*transform: rotateY(360deg) translateZ(200px);*/
/*}*/
/*.show-songs ul li img{*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*border: 5px solid skyblue;*/
    /*box-sizing: border-box;*/
/*}*/
/*.show-songs ul:hover{*/
    /*animation-play-state: paused;*/
/*}*/
/*.show-songs ul:hover li img{*/
    /*opacity: 0.5;*/
/*}*/
/*.show-songs ul li:hover img{*/
    /*opacity: 1;*/
/*}*/
/*@keyframes sport {*/
    /*from{*/
        /*!**/
        /*注意点:*/
        /*1.动画中如果有和默认样式中同名的属性, 会覆盖默认样式中同名的属性*/
        /*2.在编写动画的时候, 固定不变的值写在前面, 需要变化的值写在后面*/
        /**!*/
        /*transform: rotateX(-10deg) rotateY(0deg);*/
    /*}*/
    /*to{*/
        /*transform: rotateX(-10deg) rotateY(360deg);*/
    /*}*/
/*}*/
/*.heart{*/
    /*width: 173px;*/
    /*height: 157px;*/
    /*position: absolute;*/
    /*left: 100px;*/
    /*bottom: 100px;*/
    /*animation: move 10s linear 0s infinite normal;*/
/*}*/
/*@keyframes move {*/
    /*0%{*/
        /*left: 100px;*/
        /*bottom: 100px;*/
        /*opacity: 1;*/
    /*}*/
    /*20%{*/
        /*left: 300px;*/
        /*bottom: 300px;*/
        /*opacity: 0;*/
    /*}*/
    /*40%{*/
        /*left: 500px;*/
        /*bottom: 500px;*/
        /*opacity: 1;*/
    /*}*/
    /*60%{*/
        /*left: 800px;*/
        /*bottom: 300px;*/
        /*opacity: 0;*/
    /*}*/
    /*80%{*/
        /*left: 1200px;*/
        /*bottom: 100px;*/
        /*opacity: 1;*/
    /*}*/
    /*100%{*/
        /*left: 800px;*/
        /*bottom: -200px;*/
    /*}*/
/*}*/

.footer{
    position: fixed;
    bottom:0;
    z-index: 0;
    font-size: 18px;
    color:white;
    width: 100%;
    height: 60px;
    margin-top:30px;
    border-top:1px solid black;
    background: url("../images/nav-bg.jpg");
    /*padding: 5px;*/
    box-sizing: border-box;
    box-shadow:5px 0 5px 4px rgba(0,0,0,0.4),2px 0px 10px rgba(0,0,0,0.1) !important;
}
.footer span{
    /*display: inline-block;*/
    line-height:60px;
    padding-left: 3%;
}

.footer-right{
    float:right;
    line-height:60px;
    padding-right: 3%;
}

.footer-right a{
    color:white;

}